.textaria{
  width: 100%;
}
.cell{
  padding: 5px;
  border: 1px solid #e5e5e5;
  background-color: #f8faff;
}
.title{
  font-size: 14px;
  background-color: #f8faff;
  border: 1px solid #e5e5e5;
  text-align: center;
}